<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 목록</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <script src="/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div id="maininner">
        <div class="tbl_wrp">
            <table class="table">
                <thead>
                <tr class="table-info">
                    <th scope="col">아이디</th>
                    <th scope="col">권한</th>
                </tr>
                </thead>
                <tbody>
                <tr class="link_btn hover" th:each="account : ${accounts}">
                    <td style="text-align: left;">
                        <a th:href="@{'/admin/accounts/' + ${account.id}}"><span th:text="${account.username}">회원</span></a>
                    </td>
                    <td style="text-align: left;">
                        <span th:each="roleName, iter : ${account.roleNames}">
                            <h6 th:text="${roleName}"></h6>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>