<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>게시글 수정생성</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
<div class="container">
    <form th:action th:object="${post}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{title}">
        <h1 th:text="*{title}"></h1>
        <hr/>
        <input type="text" th:field="*{content}">
        <div th:errors="*{content}" class="text-danger">컨텐츠 오류</div>
        <button type="submit" class="btn btn-outline-primary">수정생성</button>
        <button type="button" id="btn-cancel" class="btn btn-outline-danger">취소</button>
    </form>
</div>
<script>
  $("#btn-cancel").click(function() {
      location.replace("/posts/[[${post.id}]]");
    }
  );
</script>
</body>
</html>